<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tinycourse.mapper.ContentMapper" >
  <resultMap id="BaseResultMap" type="cn.tinycourse.pojo.Content" >
    <id column="con_id" property="conId" jdbcType="INTEGER" />
    <result column="art_id" property="artId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="con_text" property="conText" jdbcType="VARCHAR" />
    <result column="con_date" property="conDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    con_id, art_id, user_id, con_text, con_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.tinycourse.pojo.ContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from content
    where con_id = #{conId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from content
    where con_id = #{conId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.tinycourse.pojo.ContentExample" >
    delete from content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.tinycourse.pojo.Content" >
    insert into content (con_id, art_id, user_id, 
      con_text, con_date)
    values (#{conId,jdbcType=INTEGER}, #{artId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{conText,jdbcType=VARCHAR}, #{conDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.tinycourse.pojo.Content" >
    insert into content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="conId != null" >
        con_id,
      </if>
      <if test="artId != null" >
        art_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="conText != null" >
        con_text,
      </if>
      <if test="conDate != null" >
        con_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="conId != null" >
        #{conId,jdbcType=INTEGER},
      </if>
      <if test="artId != null" >
        #{artId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="conText != null" >
        #{conText,jdbcType=VARCHAR},
      </if>
      <if test="conDate != null" >
        #{conDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.tinycourse.pojo.ContentExample" resultType="java.lang.Integer" >
    select count(*) from content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update content
    <set >
      <if test="record.conId != null" >
        con_id = #{record.conId,jdbcType=INTEGER},
      </if>
      <if test="record.artId != null" >
        art_id = #{record.artId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.conText != null" >
        con_text = #{record.conText,jdbcType=VARCHAR},
      </if>
      <if test="record.conDate != null" >
        con_date = #{record.conDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update content
    set con_id = #{record.conId,jdbcType=INTEGER},
      art_id = #{record.artId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      con_text = #{record.conText,jdbcType=VARCHAR},
      con_date = #{record.conDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tinycourse.pojo.Content" >
    update content
    <set >
      <if test="artId != null" >
        art_id = #{artId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="conText != null" >
        con_text = #{conText,jdbcType=VARCHAR},
      </if>
      <if test="conDate != null" >
        con_date = #{conDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where con_id = #{conId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tinycourse.pojo.Content" >
    update content
    set art_id = #{artId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      con_text = #{conText,jdbcType=VARCHAR},
      con_date = #{conDate,jdbcType=TIMESTAMP}
    where con_id = #{conId,jdbcType=INTEGER}
  </update>
</mapper>